<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8"/> 
  <link rel="stylesheet" type="text/css" href="/css/blog.css"/>
  <title>Charlotte Koch<% if title %> - <%= title %> <% end %></title>
</head>
<body>

<div id="top"><header>
  <hgroup>
    <h1>Charlotte Koch</h1>
  </hgroup>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">All Posts</a></li>
      <li><a href="/pages/about">About</a></li>
    </ul>
  </nav>
</header></div>

<div id="main">
  <%= yield %>
</div>

<div id="bottom"><footer>
  <p>
  &copy; 2015 Charlotte Koch. <br/>
  Unless otherwise noted, the content on this website is released under a
  <a  href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License</a>.
  </p>
</footer></div>

</body>
</html>
